/* ACHIEVEMENTS */
.achievements {
  grid-area: achievements;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "achievements_heading achievements_downloads achievements_users"
    "achievements_heading achievements_clients achievements_countries";
  letter-spacing: -0.025rem;
}
.achievements_heading {
  grid-area: achievements_heading;
  align-self: center;
}
.achievements h2 {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -2.5px;
  margin-bottom: 0px;
}
.achievements_heading p {
  font-size: 18px;
  line-height: 28px;
}
.achievements img {
  height: 25px;
}
.achievements_downloads {
  grid-area: achievements_downloads;
  display: flex;
  align-items: center;
}
.achievements h3 {
  font-size: 36px;
  line-height: 45px;
  letter-spacing: -2.5px;
  margin-bottom: 0px;
}
.achievements .mini-text p {
  font-size: 16px;
  line-height: 24px;
}
.achievements .mini-text {
  margin-left: 20px;
  line-height: 5px;
}
.achievements_clients {
  grid-area: achievements_clients;
  display: flex;
  align-items: center;
}
.achievements_users {
  grid-area: achievements_users;
  display: flex;
  align-items: center;
}
.achievements_countries {
  grid-area: achievements_countries;
  display: flex;
  align-items: center;
}
/* INTEGRATIONS */
.easy-integrations {
  grid-area: easy-integrations;
  display: grid;
  grid-template-areas: "easy-integrations_heading easy-integrations_icon";
  border-top: rgb(214, 214, 214) solid 1px;
  padding-top: 0px;
  min-height: 270px;
}
.easy-integrations_heading {
  grid-area: easy-integrations_heading;
  align-self: center;
}
.easy-integrations_heading h2 {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -2.5px;
  margin-bottom: 0px;
}
.easy-integrations_heading p {
  font-size: 18px;
  line-height: 28px;
}
.easy-integrations_icon {
  grid-area: easy-integrations_icon;
  display: flex;
  flex-direction: column;
  background: url("images/bgicon.png") no-repeat;
  background-size: 100%;
  max-width: 540px;
  gap: 10px;
}
.icons-top {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  gap: 40px;
}
.icons-bottom {
  display: flex;
  padding-top: 40px;
  justify-content: center;
  gap: 40px;
}
.easy-integrations_icon img {
  height: 40px;
}
@media (max-width: 376px) {
  .achievements {
    display: flex;
    flex-direction: column;
  }
  .achievements_heading h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #111827;
  }
  .achievements_heading p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #111827;
  }
  .achievements img {
    width: 32px;
    height: 32px;
  }
  .achievements h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.025rem;
  }
}
