/* ENDing-screen-block */
/* Два телефона */
.manage-from-mobile {
  background-color: #1db5be;
  display: flex;
  padding: 0 112px;
}
.manage-from-mobile h2 {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -2.5px;
  margin-bottom: 0px;
  letter-spacing: -0.025rem;
}
.manage-from-mobile h4 {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  letter-spacing: -0.025rem;
}
.manage-from-mobile p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.025rem;
}
.manage-from-mobile_phones {
  display: grid;
  grid-template-areas:
    "phone-1 ."
    "phone-1 phone-2"
    ". phone-2";
  grid-area: manage-from-mobile_phones;
}
.phone-1 {
  grid-area: phone-1;
}
.phone-2 {
  grid-area: phone-2;
  transform: translateY(17px);
}
.manage-from-mobile_phones img {
  max-width: 210px;
}
.manage-from-mobile_info-block {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.manage-from-mobile_buttons_googleplay {
  background: url("images/GooglePlaylogo.svg") no-repeat 10px;
  border: solid #d1d5db 0.5px;
  border-radius: 4px;
  width: 140px;
  height: 40px;
  background-color: black;
  color: #ffffff;
  text-align: left;
  padding-left: 40px;
}
.manage-from-mobile_buttons_appstore {
  color: #ffffff;
  background: url("images/AppStorelogo.svg") no-repeat 17px;
  border-radius: 8px;
  border: #d1d5db solid 0.5px;
  width: 140px;
  height: 40px;
  text-align: left;
  padding-left: 40px;
  background-color: black;
}
.manage-from-mobile_buttons a {
  text-decoration: none;
  color: #ffffff;
}

/* FOOTER */
footer {
  background-color: black;
  color: #ffffff;
  padding: 60px 112px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
}
.footer-links_top {
  display: flex;
  gap: 15px;
}
.footer-links_bottom {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.footer-buttons h4 {
  margin: 0px;
  color: #d1d5db;
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
}
.footer-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.copyright {
  color: #d1d5db;
  font-size: 14px;
  line-height: 20px;
}
.footer-buttons_googleplay {
  background: url("images/GooglePlaylogo.svg") no-repeat 10px;
  border: solid #d1d5db 0.5px;
  border-radius: 4px;
  width: 140px;
  height: 40px;
  background-color: black;
  color: #ffffff;
  text-align: left;
  padding-left: 40px;
}
.footer-buttons_appstore {
  background-color: black;
  color: #ffffff;
  background: url("images/AppStorelogo.svg") no-repeat 17px;
  border-radius: 8px;
  border: #d1d5db solid 0.5px;
  width: 140px;
  height: 40px;
  text-align: left;
  padding-left: 40px;
}
/* MANAGE FROM MOBILE */
@media (max-width: 1000px) {
  .manage-from-mobile {
    padding: 0 20px;
    flex-wrap: wrap;
  }
  .manage-from-mobile_phones {
    display: flex;
    flex-direction: column;
  }
  .phone-2 {
    transform: none;
  }
  .manage-from-mobile_info-block {
    margin-bottom: 40px;
  }
  .manage-from-mobile_phones img {
    max-width: 300px;
  }
}
@media (max-width: 376px) {
  /* ДВА ТЕЛЕФОНА */
  .manage-from-mobile {
    flex-direction: column;
    padding: 0 20px;
  }
  .manage-from-mobile h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #111827;
  }
  .manage-from-mobile p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #111827;
  }
  .manage-from-mobile h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #111827;
    margin-bottom: 8px;
  }
  .manage-from-mobile_info-block {
    margin-bottom: 40px;
  }
  .manage-from-mobile_phones {
    display: flex;
    flex-direction: column;
  }
  .manage-from-mobile_phones {
    display: flex;
    align-items: center;
  }
  .manage-from-mobile_phones img {
    max-width: 300px;
  }
  .phone-2 {
    transform: none;
  }
  /* FOOTER */
  footer {
    flex-direction: column;
    padding: 40px 20px;
    gap: 32px;
  }
  .footer-links_bottom {
    flex-wrap: wrap;
    gap: 24px;
  }
}
