/* Tailor-made features */
.features {
  grid-area: features;
  display: grid;
  grid-template-areas:
    "introduction introduction introduction"
    "robust-workflow flexibility user-friendly"
    "multiple-layouts better-components well-organised";
  grid-row-gap: 10px;
  text-align: center;
}
.features_introduction {
  grid-area: introduction;
}
.features h3 {
  font-size: 30px;
  line-height: 40px;
}
.features p {
  font-size: 16px;
  line-height: 24px;
}
.features_introduction h2 {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -2.5px;
}
.features_introduction p {
  font-size: 18px;
  line-height: 28px;
}
.indents {
  margin-left: auto;
  margin-right: auto;
}
.robust-workflow {
  grid-area: robust-workflow;
}
.flexibility {
  grid-area: flexibility;
}
.user-friendly {
  grid-area: user-friendly;
}
.multiple-layouts {
  grid-area: multiple-layouts;
}
.better-components {
  grid-area: better-components;
}
.well-organised {
  grid-area: well-organised;
}
