/* Tailor-made features */
.features {
  grid-area: features;
  display: grid;
  grid-template-areas:
    "features_introduction features_introduction features_introduction"
    "features_robust-workflow features_flexibility features_user-friendly"
    "features_multiple-layouts features_better-components features_well-organised";
  gap: 10px;
  text-align: center;
  letter-spacing: -0.025rem;
}
.features_introduction {
  grid-area: features_introduction;
}
.features h3 {
  font-size: 30px;
  line-height: 40px;
}
.features p {
  font-size: 16px;
  line-height: 24px;
}
.features_introduction h2 {
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -2.5px;
}
.features_introduction p {
  font-size: 18px;
  line-height: 28px;
}
.indents {
  margin-left: auto;
  margin-right: auto;
}
.features_robust-workflow {
  grid-area: features_robust-workflow;
}
.features_flexibility {
  grid-area: features_flexibility;
}
.features_user-friendly {
  grid-area: features_user-friendly;
}
.features_multiple-layouts {
  grid-area: features_multiple-layouts;
}
.features_better-components {
  grid-area: features_better-components;
}
.features_well-organised {
  grid-area: features_well-organised;
}
@media (max-width: 1000px) {
  .features {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 50px;
  }
}
@media (max-width: 376px) {
  .features {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 50px;
  }
  .features h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.025em;
    font-style: normal;
    color: #111827;
  }
  .features h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #111827;
  }
  .features p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #374151;
  }
  .features_introduction p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #111827;
  }
}
