@media (min-width: 400px) {
  .navigation-for-mobile {
    display: none;
  }
}

/* main-screen-block */
/* совмещение фона header и manage-projects */

.main-screen {
  background: url("images/TopBackground.png") no-repeat;
  background-size: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 30px;
  letter-spacing: -0.025rem;
  flex-wrap: wrap;
}
.header-buttons {
  display: flex;
  gap: 12px;
}
.header_nav_list {
  display: flex;
  gap: 24px;
  font-size: 14px;
  line-height: 20px;
}
nav {
  display: flex;
  gap: 50px;
  align-items: center;
  flex-wrap: wrap;
}

.header-buttons_google {
  background: url("images/GooglePlaylogo.svg") no-repeat 10px;
  color: #ffffff;
  border-radius: 4px;
  border: solid #d1d5db 0.5px;
  width: 140px;
  height: 40px;
  text-align: left;
  padding-left: 40px;
  background-color: black;
}
.header-buttons_appstore {
  color: #ffffff;
  background: url("images/AppStorelogo.svg") no-repeat 17px;
  border-radius: 8px;
  border: #d1d5db solid 0.5px;
  width: 140px;
  height: 40px;
  text-align: left;
  padding-left: 40px;
  background-color: black;
}
.header_nav_list a {
  color: black;
  text-decoration: none;
}
/* manage-projects */
.manage-projects {
  display: flex;
  letter-spacing: -0.025rem;
}
.manage-projects_info {
  margin-top: 50px;
}
.manage-projects_info h1 {
  font-size: 60px;
  line-height: 72px;
}
.manage-projects_info p {
  font-size: 18px;
  line-height: 28px;
}
.manage-projects_info_get-started {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background-color: #7c3aed;
  color: #ffffff;
}
.manage-projects_info_watch-video {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  background-color: transparent;
  color: #7c3aed;
  border-color: transparent;
  background: url("images/iconwatch.svg") no-repeat 5px;
  text-align: left;
  padding-left: 30px;
}
.manage-projects_img {
  max-width: 350px;
}
/* ЛОГОТИПЫ */
.logos {
  display: flex;
  flex-direction: row;
  border-top: solid 1px #e5e7eb;
  border-bottom: solid 1px #e5e7eb;
  padding: 40px 0;
  justify-content: center;
  gap: 60px;
  max-width: 1216px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}
/* HEADER */
@media (max-width: 400px) {
  .navigation-for-mobile {
    display: none;
  }
}
@media (max-width: 375px) {
  .main-screen {
    background-image: url("images/bg-mobile-version.png");
    background-size: 100%;
  }
  /* HEADER */
  .navigation-for-mobile {
    display: inline;
    background-color: transparent;
    border-color: transparent;
  }
  .navigation-for-mobile img {
    height: 24px;
  }
  .header_nav_img {
    height: 35px;
  }
  .header-buttons,
  .header_nav_list {
    display: none;
  }

  /* MANAGE PROJECTS */
  .manage-projects {
    flex-direction: column;
    gap: 80px;
  }
  .manage-projects_img {
    align-self: center;
  }
  .manage-projects_info {
    margin-top: 0;
  }
  .manage-projects_info h1 {
    font-size: 36px;
    line-height: 45px;
    font-weight: 700;
    font-feature-settings: "liga" off;
    font-style: normal;
    color: #111827;
  }
  .manage-projects_info p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #374151;
  }
  .manage-projects_info_get-started {
    margin-right: 110px;
  }
  /* LOGOS */
  .logos {
    max-width: 300px;
    flex-wrap: wrap;
    gap: 40px;
  }
}

@media (max-width: 750px) {
  .manage-projects {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 80px;
  }
  .manage-projects_info {
    margin-top: 0;
  }
}
