/* main-screen-block */
@import url(main-screen-block.css);
/* block-1 */
@import url(features.css);
/* block-2 */
@import url(real-stories.css);
/* block-3 */
@import url(achievements-integrations.css);
/* block-4 */
@import url(ending-screen.css);
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  /*TODO зачем задавать padding процентами*/
  padding-left: 7%;
  padding-right: 7%;
  margin-bottom: 60px;
}
.small {
  /*TODO испоьзуй px/rem*/
  font-size: xx-small;
}
.big {
  font-size: medium;
}
